<md-card>
  <md-card-content>
    <div *ngIf="!isSubmitted && isNew">
      <div class="rowSpace">
        <md-input-container>
          <input mdInput type="text" placeholder="Khatm's title" [(ngModel)]="name" (ngModelChange)="checkDisability()">
        </md-input-container>
      </div>
      <div class="rowSpace">
        <label>Description</label>
        <br/>
        <textarea [(ngModel)]="description" cols="30"></textarea>
      </div>
      <div class="rowSpace">
        <md-checkbox [(ngModel)]="ownerShown">Show owner's details to others</md-checkbox>
      </div>
      <div class="rowSpace">
        <md-radio-group [(ngModel)]="range">
          <md-radio-button value="whole">Whole Quran</md-radio-button>
          <md-radio-button value="sura">Specific Sura</md-radio-button>
        </md-radio-group>
      </div>
      <div class="rowSpace" *ngIf="range === 'sura'" style="margin-top: 15px;">
        <md-select placeholder="Sura" [(ngModel)]="suraNumber">
          <md-option *ngFor="let sura of suras" [value]="sura.number">{{sura.name}}</md-option>
        </md-select>
      </div>
      <div class="rowSpace">
        <md-input-container>
          <input mdInput type="number" min="1" [(ngModel)]="repeats" placeholder="Repeat">
        </md-input-container>
      </div>
      <div class="rowSpace">
        <md-input-container>
          <input mdInput type="date" placeholder="Start Date" [(ngModel)]="startDate" (ngModelChange)="changeDuration('start', $event)">
        </md-input-container>
      </div>
      <div class="rowSpace">
        <md-input-container>
          <input mdInput type="number" [(ngModel)]="duration" placeholder="Duration" (ngModelChange)="changeDuration('duration', null)"/>
        </md-input-container>
      </div>
      <div class="rowSpace">
        <md-input-container>
          <input mdInput type="date" placeholder="End Date" [(ngModel)]="endDate" (ngModelChange)="changeDuration('end', $event)">
        </md-input-container>
      </div>
      <div class="rowSpace">
        <button md-raised-button (click)="submit()"
                [disabled]="submitDisability"
                [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
          Submit
        </button>
      </div>
    </div>
    <div *ngIf="isSubmitted && isNew">
      <md-list>
        <md-list-item>
          <label style="font-weight: bold">Title: </label>
          <label style="font-weight: normal"> {{name}}</label>
        </md-list-item>
        <md-list-item *ngIf="description !== ''">
          <label style="font-weight: bold">Description: </label>
          <label style="font-weight: normal"> {{description}}</label>
        </md-list-item>
        <md-list-item *ngIf="description === ''">
          <label style="font-weight: bold">Description: </label>
          <label style="font-weight: normal"> -</label>
        </md-list-item>
        <md-list-item>
          <label style="font-weight: bold">Range: </label>
          <label style="font-weight: normal"> {{rangeDisplay}}</label>
        </md-list-item>
        <md-list-item *ngIf="range === 'sura'">
          <label style="font-weight: bold">Sura: </label>
          <label style="font-weight: normal"> {{quranService.getSura(suraNumber).name}}</label>
        </md-list-item>
        <md-list-item>
          <label style="font-weight: bold">Repeats: </label>
          <label style="font-weight: normal"> {{repeats}}</label>
        </md-list-item>
        <md-list-item>
          <label style="font-weight: bold">StartDate: </label>
          <label style="font-weight: normal"> {{startDate}}</label>
        </md-list-item>
        <md-list-item>
          <label style="font-weight: bold">EndDate: </label>
          <label style="font-weight: normal"> {{endDate}}</label>
        </md-list-item>
      </md-list>
      <div style="margin: 10px">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <button md-raised-button (click)="create()"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Create
          </button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <button md-raised-button (click)="isSubmitted = false"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Edit
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!isNew && khatm !== null && khatm !== undefined">
      <md-list>
        <md-list-item>
          <label class="title">Name: </label>
          <label class="content"> {{khatm.khatm_name}}</label>
        </md-list-item>
        <md-list-item *ngIf="khatm.owner_shown">
          <label class="title">Owner name: </label>
          <label class="content"> {{khatm.owner_name}}</label>
        </md-list-item>
        <md-list-item>
          <label class="title">Description: </label>
          <label class="content"> {{khatm.description}}</label>
        </md-list-item>
        <md-list-item>
          <label class="title">Read pages: </label>
          <label class="content">{{khatm.read_pages}}</label>
        </md-list-item>
        <md-list-item>
          <label class="title">Participating numbers: </label>
          <label class="content">{{khatm.participatings}}</label>
        </md-list-item>
        <md-list-item>
          <label class="title">End date: </label>
          <label class="content"> {{endDateDisplay}}</label>
        </md-list-item>
        <md-list-item *ngIf="khatmIsStarted">
          <label class="title">Rest days: </label>
          <label class="content">{{khatm.rest_days}}</label>
        </md-list-item>
        <md-list-item *ngIf="khatmIsStarted">
          <label class="title">You read:</label>
          <label class="content">{{khatm.you_read}}</label>
        </md-list-item>
        <md-list-item *ngIf="khatmIsStarted">
          <label class="title">Remain of your commitments:</label>
          <label class="content">{{khatm.you_unread}}</label>
        </md-list-item>
      </md-list>
      <md-grid-list cols="2" rowHeight="60px">
        <md-grid-tile *ngIf="khatmIsStarted">
          <button md-raised-button (click)="copyLink()"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Copy Link
          </button>
        </md-grid-tile>
        <md-grid-tile *ngIf="khatmIsStarted">
          <button md-raised-button (click)="shareVia()"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Share Via
          </button>
        </md-grid-tile>
        <md-grid-tile colspan="2" *ngIf="khatmIsStarted">
          <div style="align-content: center">
            <md-input-container>
              <input mdInput placeholder="Your Pages"
                     [style.background-color]="conditionalColoring.background"
                     [style.color]="quranService.nightMode ? '#898f8d' : '#494949'"
                     type="number"
                     [ngModel]="khatm.you_unread"
                     [disabled]="khatmService.activeKhatm.getValue() !== null && khatmService.activeKhatm.getValue().khid === khatm.khid"
                     #commitPagesInput
                     (ngModelChange)="limitClick()">
            </md-input-container>
            <button md-mini-fab (click)="changeCommitPages(commitPagesInput.value)"
                    [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
              <md-icon>
                check_circle
              </md-icon>
            </button>
          </div>
        </md-grid-tile>
        <md-grid-tile colspan="2" *ngIf="!khatmIsStarted">
          <label style="text-align: center; align-content: center" [style.foreground-color]="conditionalColoring.text">
            This khatm is not started yet
          </label>
        </md-grid-tile>
        <md-grid-tile colspan="2" *ngIf="khatmIsStarted && khatm.you_read !== null && khatm.you_unread !== null"
                      style="align-content: center;">
          <button md-raised-button
                  [style.background-color]="conditionalColoring.primary"
                  *ngIf="khatm.you_unread !== null && khatm.you_unread > 0"
                  [disabled]="isChangingCommitments || (khatmService.activeKhatm.getValue() !== null && khatmService.activeKhatm.getValue().khid === khatm.khid)"
                  (click)="goToCommitment(false)">
            Commit Pages
          </button>
        </md-grid-tile>
        <md-grid-tile colspan="2" *ngIf="khatmIsStarted && khatm.you_read !== null && khatm.you_unread !== null && khatm.you_unread > 0"
                      style="align-content: center">
          <button md-raised-button
                  (click)="start_stop_Khatm()"
                  [style.background-color]="conditionalColoring.primary"
                  [disabled]="isChangingCommitments"
                  *ngIf="khatmService.activeKhatm.getValue() === null || (khatmService.activeKhatm.getValue().khid !== khatm.khid)">
            Reading Khatm
          </button>
          <button md-raised-button
                  (click)="start_stop_Khatm()"
                  [style.background-color]="conditionalColoring.secondary"
                  [disabled]="isChangingCommitments"
                  *ngIf="khatmService.activeKhatm.getValue() !== null && khatmService.activeKhatm.getValue().khid === khatm.khid">
            Stop Khatm
          </button>
        </md-grid-tile>
        <md-grid-tile colspan="2" style="align-content: center">
          <button md-raised-button (click)="dialogRef.close()"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Close
          </button>
        </md-grid-tile>
        <md-grid-tile colspan="2" *ngIf="isLoading">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          <span class="sr-only">Please wait until we send verification code ...</span>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </md-card-content>
</md-card>
