<md-card>
  <md-card-content>
    <div *ngIf="!isSubmitted && isNew">
      <table class="table">
        <tr>
          <td>
            <md-input-container style="font-family: 'quran'; font-size: 1.3em; width: 100%;">
              <input mdInput type="text" placeholder="Khatm's title" [(ngModel)]="name" (ngModelChange)="checkDisability()">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <label>Description</label>
            <br/>
            <textarea [(ngModel)]="description" cols="30" style="width: 100%;"></textarea>
          </td>
        </tr>
        <tr>
          <td style="width: 80%;">Show owner's name to others</td>
          <td style="width: 20%;">
            <md-checkbox [(ngModel)]="ownerShown"></md-checkbox>
          </td>
        </tr>
        <!--<tr>-->
          <!--<td style="width: 20%;">Range</td>-->
          <!--<td style="width: 80%;">-->
            <!--<md-radio-group [(ngModle)]="range" style="font-family: 'quran'; font-size: 1.3em;">-->
              <!--<md-radio-button value="whole">Whole Quran</md-radio-button>-->
              <!--<md-radio-button value="sura">Specific Sura</md-radio-button>-->
            <!--</md-radio-group>-->
          <!--</td>-->
        <!--</tr>-->
        <tr>
          <td style="width: 20%;">Range</td>
          <td style="width: 80%;">Whole Quran</td>
        </tr>
        <tr *ngIf="range === 'sura'" style="margin-top: 15px;">
          <td>
            <md-select placeholder="Sura" [(ngModel)]="suraNumber">
              <md-option *ngFor="let sura of suras" [value]="sura.number">{{sura.name}}</md-option>
            </md-select>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput type="number" min="1" [(ngModel)]="repeats" placeholder="Repeat">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput type="date" placeholder="Start Date" [(ngModel)]="startDate" (ngModelChange)="changeDuration('start', $event)">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="duration" placeholder="Duration" (ngModelChange)="changeDuration('duration', null)"/>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput type="date" placeholder="End Date" [(ngModel)]="endDate" (ngModelChange)="changeDuration('end', $event)">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <button md-raised-button (click)="submit()"
                    [disabled]="submitDisability"
                    [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
              Submit
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="isSubmitted && isNew">
      <table class="table">
        <tr>
          <td class="title">Name</td>
          <td class="content">{{name}}</td>
        </tr>
        <tr>
          <td class="title">Show owner name to other</td>
          <td class="content" *ngIf="ownerShown">TRUE</td>
          <td class="content" *ngIf="!ownerShown">FALSE</td>
        </tr>
        <tr>
          <td class="title">Description</td>
          <td class="content" *ngIf="description !== null && description !== ''">{{description}}</td>
          <td class="content" *ngIf="description === null || description === ''">-</td>
        </tr>
        <tr>
          <td class="title">Range</td>
          <td class="content">{{rangeDisplay}}</td>
        </tr>
        <tr *ngIf="range === 'sura'">
          <td class="title">Sura</td>
          <td class="content">{{quranService.getSura(suraNumber).name}}</td>
        </tr>
        <tr>
          <td class="title">Repeats</td>
          <td class="content">{{repeats}}</td>
        </tr>
        <tr>
          <td class="title">Start Date</td>
          <td class="content">{{startDate}}</td>
        </tr>
        <tr>
          <td class="title">End Date</td>
          <td class="content">{{endDate}}</td>
        </tr>
      </table>
      <div style="margin: 10px;">
        <div style="text-align: center" class="col-md-6 col-sm-6 col-xs-6">
          <button md-raised-button (click)="create()"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Create
          </button>
        </div>
        <div style="text-align: center" class="col-md-6 col-sm-6 col-xs-6">
          <button md-raised-button (click)="isSubmitted = false"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Edit
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!isNew && khatm !== null && khatm !== undefined">
      <table class="table">
        <tr>
          <td class="title">Name</td>
          <td class="content">{{khatm.khatm_name}}</td>
        </tr>
        <tr *ngIf="khatm.owner_shown">
          <td class="title">Owner Name</td>
          <td class="content">{{khatm.owner_name}}</td>
        </tr>
        <tr>
          <td class="title">Description</td>
          <td class="content" *ngIf="khatm.description !== null && khatm.description !== ''">{{khatm.description}}</td>
          <td class="content" *ngIf="khatm.description === null || khatm.description === ''">-</td>
        </tr>
        <tr>
          <td class="title">Read Pages</td>
          <td class="content">{{khatm.read_pages}}</td>
        </tr>
        <tr>
          <td class="title">Participating Numbers</td>
          <td class="content">{{khatm.participatings}}</td>
        </tr>
        <tr>
          <td class="title">End Date</td>
          <td class="content">{{endDateDisplay}}</td>
        </tr>
        <tr *ngIf="khatmIsStarted">
          <td class="title">Rest Days</td>
          <td class="content">{{rest_days}}</td>
        </tr>
        <tr *ngIf="khatmIsStarted && khatm.you_read !== null && khatm.you_unread !== null">
          <td class="title">You Read</td>
          <td class="content">{{khatm.you_read}}</td>
        </tr>
        <tr *ngIf="khatmIsStarted && khatm.you_read !== null && khatm.you_unread !== null">
          <td class="title">Remain of your commitments</td>
          <td class="content">{{khatm.you_unread}}</td>
        </tr>
      </table>
      <md-grid-list cols="1" rowHeight="60px">
        <md-grid-tile *ngIf="khatmIsStarted">
          <button md-raised-button (click)="copyLink()"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Copy Link
          </button>
        </md-grid-tile>
        <md-grid-tile *ngIf="khatmIsStarted">
          <div style="align-content: center">
            <md-input-container>
              <input mdInput placeholder="Your Pages"
                     [style.background-color]="conditionalColoring.background"
                     [style.color]="quranService.nightMode ? '#898f8d' : '#494949'"
                     type="number"
                     [ngModel]="khatm.you_unread"
                     [disabled]="khatmService.activeKhatm.getValue() !== null && khatmService.activeKhatm.getValue().khid === khatm.khid"
                     #commitPagesInput
                     (ngModelChange)="limitClick()">
            </md-input-container>
            <button md-mini-fab (click)="changeCommitPages(commitPagesInput.value)"
                    [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
              <md-icon>
                check_circle
              </md-icon>
            </button>
          </div>
        </md-grid-tile>
        <md-grid-tile *ngIf="!khatmIsStarted">
          <label style="text-align: center; align-content: center" [style.foreground-color]="conditionalColoring.text">
            This khatm is not started yet
          </label>
        </md-grid-tile>
        <md-grid-tile *ngIf="khatmIsStarted && khatm.you_read !== null && khatm.you_unread !== null"
                      style="align-content: center;">
          <button md-raised-button
                  [style.background-color]="conditionalColoring.primary"
                  *ngIf="khatm.you_unread !== null && khatm.you_unread > 0"
                  [disabled]="isChangingCommitments || (khatmService.activeKhatm.getValue() !== null && khatmService.activeKhatm.getValue().khid === khatm.khid)"
                  (click)="goToCommitment(false)">
            Commit Pages
          </button>
        </md-grid-tile>
        <md-grid-tile style="align-content: center">
          <button md-raised-button (click)="dialogRef.close()"
                  [class.btn-light-day-mode]="!quranService.nightMode" [class.btn-light-night-mode]="quranService.nightMode">
            Close
          </button>
        </md-grid-tile>
        <md-grid-tile *ngIf="isLoading">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          <span class="sr-only">Please wait until we send verification code ...</span>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </md-card-content>
</md-card>
