.info-table{
  width: 100%;
  height: 100%;
}
.info-row{
  width: 100%;
  height: 100%;
}

.info-co1umn1{
  width: 35%;
  font-size: x-large;
  font-family: "Arabic Typesetting";
  text-align: center;
}

.info-column2{
  width: 30%;
  font-size: xx-large;
  font-family: "Arabic Typesetting";
  text-align: center;
}
.info-column3{
  width: 35%;
  font-size: x-large;
  font-family: "Arabic Typesetting";
  text-align: center;

}
