<table class="info-table">
  <tr class="info-row">
    <td class="info-column1"><b><app-number-translator [inputNumber]="suraorder"></app-number-translator>. {{suraname}}</b></td>
    <td class="info-column2">
        <div class="ax">
          <span class="s1"><b><app-number-translator [inputNumber]="pagenumber" style="font-size: x-large"></app-number-translator></b></span>
        </div>
    </td>
    <td class="info-column3"><b>جزء <app-number-translator [inputNumber]="pageJuzNumber"></app-number-translator></b></td>
  </tr>
</table>


<!--<img src="../../assets/PageNumberBoxNormal.png" class="ax"><app-number-translator [inputNumber]="pagenumber" class="c1"></app-number-translator>-->
<!--<table style="width: 100%; height: 100%">-->
  <!--<tr style="width: 100%;border-style: solid;border-color: black;border-width: 0.5px">-->
    <!--<td  class="c1" style="width: 100%"><app-number-translator [inputNumber]="pagenumber"></app-number-translator></td>-->
  <!--</tr>-->
<!--</table>-->
