<div [ngClass]="['outer', fontFamily]"><span *ngIf="!needntBorder">&#x06DD;</span><app-number-translator *ngIf="needntBorder" [reverse]="reverse&&fontFamily==='quran-uthmanic'" [inputNumber]="ayanumber"></app-number-translator>
  <span *ngIf="!needntBorder" [ngClass]="['inner', fontFamily]">
      <div class="wrapper">
          <div class="entry"><app-number-translator [inputNumber]="ayanumber" [reverse]="false" [farsiNums]="farsiNums"></app-number-translator></div>
      </div>
  </span>
</div>
