<span *ngFor="let l of layers" [style.visibility]="activeLayer===l?'visible':'hidden'" [style.zIndex]="activeLayer===l?null:-(l+1)" [style.height]="activeLayer===l?null:'1px'">
  <!--****************************-->
<div class="pageInfo">
  <table class="outer-table">
    <tr class="outer-row">
      <td *ngFor="let p of pagesArray">
        <app-page-info-table [suraname]="suraName[l][p]?suraName[l][p]:''"  [pagenumber]="quranPages[l][p]" [suraorder]="suraOrder[l][p]?suraOrder[l][p]:NaN" [layer]="l" ></app-page-info-table>
      </td>
    </tr>
  </table>
</div>
<app-static-page *ngFor="let p of pagesArray" [mobile]="mobile" [textHeight]="textHeight" [pageHeight]="pageHeight" [pageWidth]="pageWidth" [pageNum]="p" [endPage]="p===pagesArray.length-1" [layer]="l" [fontFamily]="fontFamily" [halfPage]="halfPage[l][p]" (back)="goBack()" (forth)="goForth()" (pageHeightUpdate)="pageHeightUpdate($event)">
  <div *ngIf="pageAyas" [ngClass]="['quran']" [style.fontFamily]="fontFamily" (window:resize)="resize()" >
    <div>
      <span *ngFor="let aya of pageAyas[l][p]">
        <div *ngIf="aya.bismillah" class="bismillah">
          <app-sura-bismillah-info-table [bismillahText] = "aya.text" [suraname]="suraName[l][p]"></app-sura-bismillah-info-table>
        </div>
        <span *ngIf="aya.aya && !aya.bismillah"><app-qhizb-sajda-tooltip-sign *ngIf="qhizbJuzCheck(aya)" [qhizbSajdaSign]="'&#x06DE;'" [tooltipMessage] = "qhizbJuzCheck(aya)" [hizbNumber]="hizbJuzNumberCheck(aya).qhizbNum"></app-qhizb-sajda-tooltip-sign>{{aya.text}}<app-qhizb-sajda-tooltip-sign *ngIf = "sajdaCheck(aya)" [qhizbSajdaSign] = "'&#x06E9;'" [tooltipMessage] = "sajdaCheck(aya)"></app-qhizb-sajda-tooltip-sign><app-aya-number-sign [ayanumber]="aya.aya" [fontFamily]="fontFamily" [reverse]="reverse"></app-aya-number-sign> </span>
      </span>
    </div>
  </div>
</app-static-page>
</span>


