div.quran{
  font-family:quran;
  text-align: justify;
  direction: rtl;
}

div.bismillah{
  width:100% !important;
  text-align: center;
  color: darkred;
}
span{
  padding:0px;
  margin:0px;
  border:0;
  display:inline;
}

div.pageInfo{
  position: absolute;
  height: 49px;
  width: 100%;
  top:2px;
  background-color:cornsilk;
  border-style: solid;
  border-color: burlywood;
  border-width: 2px;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
  margin-left: 1px;
  margin-right: 1px;
  direction: rtl;
}

.outer-table
{
  height: 100%;
  width: 100%;

}

.outer-row
{
  height: 100%;
  width: 100%;
}

.info-container
{
  direction: rtl;
}
.repeat-col{
  width: auto;
}
