div.quran{
  font-family: quran;
  text-align: justify;
  direction: rtl;
}
div.quran-night-mode{
  color:white !important;
}
div.bismillah{
  width:100% !important;
  text-align: center;
  color: darkred;
  font-size: 45px !important;
}
span{
  padding:0px;
  margin:0px;
  border:0;
  display:inline;
}

div.pageInfo{
  position: absolute;
  height: 48px;
  width: 100%;
  top:0px;
  padding-top: -2px;
  padding-right: 1px;
  padding-left: 1px;
  margin-left: 1px;
  margin-right: 1px;
  direction: rtl;
  border: none;
}
div.pageInfo-day-mode{
  background-color: #faf6f3;
  /*background-color: yellow;*/
  color: black;
}

.outer-table {
  height: 100%;
  width: 100%;
  border: none;

}

.outer-row {
  height: 100%;
  width: 100%;
  border: none;
}

.info-container {
  direction: rtl;
}

/*.repeat-col{
  width: auto;
}*/
