<input [(ngModel)]="quranPage" placeholder="Page" (change)="loadAllPages()" style="position:absolute;right:60px;top:5px;width:40px">
<span *ngFor="let l of layers" [style.visibility]="activeLayer===l?null:'hidden'" [style.zIndex]="activeLayer===l?null:-(l+1)">
  <div class="pageInfo">
  <table style="height: 100%; width: 100%">
    <tr style="height: 100%; width: 100%">
      <td *ngFor="let p of pagesArray">
        <app-page-info-table [suraname]="suraName[l][p]" [tanzillocation]="tanzilLocation[l][p]" [pagenumber]="quranPages[l][p]" [layer]="l"></app-page-info-table>
      </td>
    </tr>
  </table>
</div>
<app-static-page *ngFor="let p of pagesArray" [textHeight]="mobile&&halfPage[l][p]?textHeight/2-33:textHeight" [pageHeight]="mobile&&halfPage[l][p]?pageHeight/2:pageHeight" [pageWidth]="pageWidth" [pageNum]="p" [endPage]="p===pagesArray.length-1" [layer]="l" [fontFamily]="fontFamily" [halfPage]="halfPage[l][p]" (back)="goBack()" (forth)="goForth()">
  <div *ngIf="pageAyas" class="quran" [style.fontFamily]="fontFamily" (window:resize)="resize()">
    <div><span *ngFor="let aya of pageAyas[l][p]"><div *ngIf="aya.bismillah" class="bismillah">{{aya.text}}</div><span *ngIf="aya.aya && !aya.bismillah"><app-qhizb-sign *ngIf="qhizbCheck(aya)"></app-qhizb-sign>{{aya.text}}<app-aya-sajda-sign *ngIf="sajdaCheck(aya)"></app-aya-sajda-sign><app-aya-number-sign [ayanumber]="aya.aya"></app-aya-number-sign> <app-aya-number-sign [ayanumber]="aya.aya" [fontFamily]="fontFamily" [reverse]="reverse"></app-aya-number-sign> </span></span></div>
  </div>
</app-static-page>
</span>
