div.quran{
  font-family: quran;
  text-align: justify;
  direction: rtl;
}
div.quran-night-mode{
  color:white !important;
}
div.bismillah{
  width:100% !important;
  text-align: center;
  color: darkred;
  font-size: 45px !important;
}
span{
  padding:0px;
  margin:0px;
  border:0;
  display:inline;
}

div.pageInfo{
  position: absolute;
  height: 49px;
  width: 100%;
  top:2px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
  margin-left: 1px;
  margin-right: 1px;
  direction: rtl;
}
div.pageInfo-day-mode{
  background-color:cornsilk;
  color: #562b12;
  border-color: burlywood;
}

.outer-table {
  height: 100%;
  width: 100%;

}

.outer-row {
  height: 100%;
  width: 100%;
}

.info-container {
  direction: rtl;
}

.bismillahtable{
  background-color:cornsilk;
  direction:rtl;
  /*border-style: solid;*/
  /*border-width: 1px;*/
  width: 100%;
  border-radius: 10px;

}

.bismillahrow{
  width: 100%;
  border-style: solid;
  border-width:1px;
  border-radius: 10px;
}

.bismillahcol1{
  width:17.5%;
  border-style: solid;
  border-width: 1px;
  text-align:center;
  font-family: quran;
  font-size: x-large;
}
.bismillahcol2{
  width:65%;
  border-style: solid;
  border-width: 1px;
  text-align:center;
  padding-bottom: 7px;
}

.bismillahcol3{
  width:17.5%;
  text-align:center;
  font-family: quran;
  font-size: x-large;
}
/*.repeat-col{
  width: auto;
}*/
