.icon{
  padding:2px 5px;
  border-radius: 20%;
  display: inline;
  color: white !important;
}
i{
  font-size: 120%;
}
.icon:active{
  color:grey !important;
}
.icon:hover{
  background-color: black;
}
.disabled{
  border-style: ridge !important;
  border-width: 2px !important;
  border-color: darkgray !important;
  background-color: rgba(64,64,64,.7)  !important;
  display: unset !important;
}
