div.border-day{
  width: 650px;
  height: 866px;
  border-image: url(../../assets/KadrNormal.svg) repeat;
  border-width: 42px;
  border-style: solid;
  border-image-slice: 144;
  padding: 0px 12px 15px 0px;
  display:inline-block;
  position:absolute;
  margin-right:-6px;
}
div.border-night{
  width: 650px;
  height: 866px;
  border-image: url(../../assets/KadrNight.svg) repeat;
  border-width: 42px;
  border-style: solid;
  border-image-slice: 100;
  padding: 0px 12px 15px 0px;
  display:inline-block;
  position:absolute;
  margin-right:-6px;
}



div.internal{
  height: 1px !important;
  letter-spacing: 0px;
  font-size:35px;
}

div.tapper {
  position:absolute;
  top: 50px;
  z-index:100;
}

div.clear{
  backgroud-color:transparent;
  color:transparent;
}

div.explain{
  background-color: rgba(32, 32, 32, 0.2);
  color: white;
  padding: 150px 30px 150px 30px;
  font-size: 20px;
}


