.bismillahtable{
  direction:rtl;
  width: 100%;
  height: 100%;
}

.bismillahrow{
  width: 100%;
  height: 100%;
}

.bismillahcol1{
  width:15%;
  height: 100%;
  background-image: url(../../assets/AyatBoxNormal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85% 70%;
}

.fontinit{
  font-family: quran;
  font-size: large;
  font-weight: bold;
  text-align: center;
  /*padding-top: 20px;*/
}

.bismillahcol2{
  width:70%;
  height: 100%;
  text-align:center;
  font-family: quran;
  font-size: 80%;
  font-weight: bold;
  padding-bottom: 7px;
  /*background-image: url(../../assets/Soore-Name-Box-Normal.png);*/
  background-image: url(../../assets/SuraNameBoxNormal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 65%;
}

.bismillahcol3{
  width:15%;
  height: 100%;
  background-image: url(../../assets/AyatBoxNormal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:85% 70% ;
}

.picMakki{
  background-image: url(../../assets/MakkiFillNormal.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 25% 25%;
}
.picMadani{
  background-image: url(../../assets/MadaniFillNormal.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 30% 30%;
}

div.bismillah{
  width:100% !important;
  color: black;
  font-size: 85%;
  /*font-size: 45px !important;*/
  text-align:center;
}



