.bismillahtable{
  direction:rtl;
  width: 100%;
}

.bismillahrow{
  width: 100%;
}

.bismillahcol1{
  width:17.5%;
  text-align:center;
  font-family: quran;
  font-size: x-large;
}
.bismillahcol2{
  width:65%;
  text-align:center;
  padding-bottom: 7px;
  font-size: xx-large;
}

.bismillahcol3{
  width:17.5%;
  text-align:center;
  font-family: quran;
  font-size: x-large;
}
