<table class="bismillahtable">
 <tr class="bismillahrow">
  <td class="bismillahcol1">
      <table style="display:inline-block;border-width:1px;border-style: solid; width: 80%;padding:0;margin:0;line-height: 70%">
        <tr class="s1">
          <td><div style="display: inline-block; width: 100%; vertical-align: bottom;height:70%">آیات</div></td>
        </tr>
        <tr class="s2"  style="border-style:solid;border-width:1px">
          <td><app-number-translator style="display: inline-block; width: 100%;vertical-align: top; heigth:70%" [inputNumber]="suraAyaNumber"></app-number-translator></td>
        </tr>
      </table>
  </td>
   <td class="bismillahcol2">سوره {{suraArabicName}}</td>
   <td class="bismillahcol3">
     <table class="bismillahrow">
         <tr class="s1" style="height: 25%">
           <td ></td>
         </tr>
         <tr class="s2" style="height: 75%;">
           <td [class.picMakki]=imgflag [class.picMadani]=!imgflag>{{suraTanzilLocation}}</td>
         </tr>
     </table>
   </td>
  </tr>
</table>
<div class="bismillah">{{bismillahText}}</div>














<!--style="width:15%;height: 20%;border-width:1px; border-style: solid"-->

<!--<table class="bismillahtable">-->
  <!--<tr class="bismillahrow">-->
    <!--<td class="bismillahcol1">-->
      <!--<table class="bismillahrow">-->
        <!--<tr class="s1">آیات</tr>-->
        <!--<tr class="s2"><app-number-translator [inputNumber]="suraAyaNumber"></app-number-translator></tr>-->
      <!--</table>-->
    <!--</td>-->
    <!--<td class="bismillahcol2">سوره {{suraArabicName}}</td>-->
    <!--<td class="bismillahcol3">-->
      <!--<table class="bismillahrow" style="border-width:0px; border-style: solid">-->
        <!--<tr class="s1" style="border-width:0px; border-style: solid; height: auto">-->
          <!--<td style="vertical-align: bottom"><img src={{imgAdress}}></td>-->
        <!--</tr>-->
        <!--<tr class="s2" style="border-width:0px; border-style: solid; height: auto">-->
          <!--<td style="vertical-align: top">{{suraTanzilLocation}}</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</td>-->
  <!--</tr>-->
<!--</table>-->
<!--<span style="font-size: xx-large; font-weight: bold">{{bismillahText}}</span>-->
